.contentWrapper {
  width: 80%;
  /* background: burlywood; */
  padding: 20px;
}
.contentWrapper h1 {
  text-align: center;
  padding: 10px;
}
.CardContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background: #4bc87c; */
  padding: 30px;
}
.card {
  background: rgba(255, 255, 255, 0.3);
  width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #196;
  font-size: 20px;
  padding: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.56);
}
.title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}
.card div {
  /* background: #4bc87c; */
  width: 100%;
  margin-bottom: 10px;
}
.card div input {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  padding: 8px 15px;
  border: 2px solid #ffffff;
}
.card div input:focus {
  border: 2px solid #196;
}
.rememberContainer {
  /* background: #4bc87c; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.rememberMe input[type="checkbox"] {
  width: 20px;
  font-size: 12px;
  display: inline;
  /* color: rgb(255, 0, 76); */
}
.forgetPass {
  text-align: right;
}
.login {
  text-align: center;
  /* background: rgb(157, 230, 203); */
}
.login button {
  background: #196;
  width: 100%;
  padding: 5px 20px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 20px;
  border: 1px solid #196;
}
.login button:active {
  background: #ffffff;
  color: #196;
  border: 1px solid #196;
}

/* Delete Biodata Section  */
.deleteBiodataContainer {
  /* background: cyan; */
  padding: 20px;
  display: flex;
  justify-content: center;
}
.deleteBiodataWrapper {
  width: 320px;
}
.deleteBiodataWrapper h4 {
  border-bottom: 1px solid black;
  font-size: 18px;
}

.deleteBiodataWarning,
.deleteBiodataCommitment {
  padding-top: 15px;
  font-size: 12px;
}
.deleteBiodataCommitment {
  padding-bottom: 10px;
}
.deleteBiodataCommitment input {
  margin-right: 10px;
}
.deleteBiodataBtnWrapper button {
  width: 120px;
  padding: 8px;
  background: red;
  color: white;
  border-radius: 50px;
  border: 1px solid red;
}
.deleteBiodataBtnWrapper button:active {
  background: white;
  color: red;
  border: 1px solid red;
}

/* Mobile Responsive */

@media only screen and (max-width: 576px) {
  .contentWrapper{
    width: 100%;
  }
  .CardContainer{
    flex-direction: column;
  }
  .card{
    width: 320px;
  }
}