.goToTopButton{
    background: none;
    position: fixed;
    top: 92%;
    left: 96%;
}
@media only screen and (max-width: 576px) {
    .goToTopButton{
        top: 92%;
        left: 92%;
        width: 20px;
        height: 20px;
    }  
    .goToTopButton img{
        width: 20px;
        height: 20px;
    }
}